<footer class="bg-dark">
    <div class="container text-center">
        <small>Copyright &copy; Yang Chen</small><br>
        <a href="https://github.com/chenyanghmilu?tab=repositories">github</a>
    </div>
</footer>
</body>

</html>