<!DOCTYPE html>
<html>
<head>
    <title>Burn Your Calorie</title>
    <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Dosis:800"
    />
    <link
    rel="stylesheet"
    href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css"
    integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX"
    crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script
    src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"
    type="text/javascript"
    async
    ></script>
</head>
<body>
    <div id="landing-header">
    <h1>Burn Your Calorie</h1>
    <a
        href="/courses"
        class="btn btn-lg btn-light"
        style="margin: 5px auto; width: 200px; font-weight: 900;"
        >View All Course</a
    ><br />
    <a
        href="/login"
        class="btn btn-lg btn-light"
        style="margin: 5px auto; width: 200px;font-weight: 900"
        >Login</a
    ><br />
    <a
        href="/register"
        class="btn btn-lg btn-light"
        style="margin: 5px auto; width: 200px;font-weight: 900;"
        >Sign up</a
    >
    </div>
    <ul class="slideshow">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    </ul>
</body>
</html>
